name: Go fuzz test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  fuzz-lexer-test:
    name: Fuzz lexer test
    runs-on: ubuntu-latest
    steps:
        # commit hash == v1.2.0
      - uses: jidicula/go-fuzz-action@0da0c6cbe9f19230f0fa62aad18def16d0d23796 # TSCCR: no entry for action: "jidicula/go-fuzz-action"
        with:
          fuzz-time: 30s
          fuzz-regexp: Fuzz_lexerNextToken
          go-version: 1.25
  fuzz-parser-test:
    name: Fuzz parser test
    runs-on: ubuntu-latest
    steps:
        # commit hash == v1.2.0
      - uses: jidicula/go-fuzz-action@0da0c6cbe9f19230f0fa62aad18def16d0d23796 # TSCCR: no entry for action: "jidicula/go-fuzz-action"
        with:
          fuzz-time: 30s
          fuzz-regexp: Fuzz_parserParse
          go-version: 1.25
  fuzz-mql-Parse-test:
    name: Fuzz mql.Parse test
    runs-on: ubuntu-latest
    steps:
        # commit hash == v1.2.0
      - uses: jidicula/go-fuzz-action@0da0c6cbe9f19230f0fa62aad18def16d0d23796 # TSCCR: no entry for action: "jidicula/go-fuzz-action"
        with:
          fuzz-time: 30s
          fuzz-regexp: Fuzz_mqlParse
          go-version: 1.25
